@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

	<div>
		<h1>Home</h1>
	</div>
	<div>
		@Html.ActionLink("Lista de alunos", "IndexAluno", "Aluno", null, new { @class = "bnt btn-default" })
		@Html.ActionLink("Lista de Disciplinas", "IndexDisciplina", "Disciplina", null, new { @class = "bnt btn-default" })
	</div>