@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<form id="formCadAluno" method="post">
	<input type="text" id="txtNomeAluno" />
	<button type="submit" id="bntCadAluno" onclick="cadastrarAluno">Cadastrar</button>
</form>