@{
	Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title></title>
</head>
<body>
	<div>
		<h1>Lista de alunos</h1>
	</div>

	<button id="btnListarAlunos" class="button-listar" onclick="get(listar);">Listar Alunos Cadastrados</button>

	<div>
		@Html.ActionLink("Cadastrar novo Aluno", "CadastroAluno", "Aluno", null, null)
	</div>

	<div>
		<table class="table" id="listaAlunos">
			<thead class="thead-dark">
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Nome</th>

					<th scope="col">Editar</th>
					<th scope="col">Excluir</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>

	@section ScriptsListar{
		<script src="~/Scripts/listarAlunos.js"></script>
		<script src="~/Scripts/botaoExcluir.js"></script>
		<script src="~/Scripts/excluir.js"></script>
	}
</body>
</html>
