@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title></title>
</head>
<body>
	<div>
		<h1>Lista de alunos</h1>
	</div>

	<button id="btnListarAlunos" class="button-listar" onclick="get(listar);">Listar</button>
	<div>
		<table class="table" id="listaPessoas">
			<thead class="thead-dark">
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Nome</th>

					<th scope="col">Editar</th>
					<th scope="col">Excluir</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>>
</body>
</html>
