@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title></title>
</head>
<body>
	<br />

	<div class="container">
		<h2>Cadastre uma nova disciplina! </h2>
		<form id="formCadDisciplina" method="post">

			<div class="form-group">

				<input type="text" id="txtNomeDisciplina" class="form-control" placeholder="Digite o nome da disciplina..." />
				<br />
				<button type="button" id="bntCadDsiciplina" class="btn btn-primary">Cadastrar</button>
			</div>
		</form>

	</div>
</body>
</html>
