@{
	Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<br />

<div class="container">
	<h2>Cadastre uma nova disciplina! </h2>
	<form id="formCadDisciplina" method="post">

		<div class="form-group">

			<input type="text" id="txtNomeDisciplina" class="form-control" placeholder="Digite o nome da disciplina..." />
			<br />
			<button type="button" id="bntCadDisciplina" class="btn btn-primary">Cadastrar</button>
		</div>
	</form>

</div>

@section MeusScripts{

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script src="~/Scripts/cadastrarDisciplina.js"></script>
}